html {
    font-family: 'Kode Mono', sans-serif;
}

h1 {
    font-family: 'Kode Mono', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition-duration: 300ms;

}

body {
    min-height: 100vh;
    background: #0f172a;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;

}

header,
main,
footer {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex: 1;
}

.plusIcon {
    font-size: 1.5rem;
    cursor: pointer;
}

.plusIcon:hover {
    color: grey;
}

#enterTodo {
    display: none;
}

#enterTodo form {
    display: flex;
    align-items: stretch;
    border: 1px solid ghostwhite;
    position: relative;
}

#enterTodo input {
    background: transparent;
    outline: none;
    padding: 12px;
    color: green;
    flex: 1;
    border: none;

}

#enterTodo button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background: ghostwhite;
    border: none;
    outline: none;
    padding: 0 12px;
    font-family: 'Kode Mono', sans-serif;
    cursor: pointer;

}

#enterTodo button:hover {
    background-color: #0f172a;
    color: ghostwhite;
}

#todo {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.todoitem {
    display: flex;
    align-items: center;
}

.todoitem p {
    flex: 1;

}

.options {
    display: flex;
    align-items: center;
    gap: 24px;
    cursor: pointer;
}

.options i:hover {
    color: gray;

}